# Runs flutter test and CHANGELOG.md validation on every PR to main.
# Failed goldens are uploaded and can be seen in the artifact summary of the job.

name: Validate

on:
  pull_request:
    # For the main branch only.
    branches:
      - main

# Ensure that new pushes/updates cancel running jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout design_system_flutter code.
        uses: actions/checkout@v4

      - name: Parse flutter version and channel specified in .fvm into env vars.
        uses: kuhnroyal/flutter-fvm-config-action@v2

      - name: Clone flutter version specified in .fvm.
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.fvm-config-action.outputs.FLUTTER_VERSION }}
          channel: ${{ steps.fvm-config-action.outputs.FLUTTER_CHANNEL }}

      - name: Run flutter doctor.
        run: flutter doctor -v

      - name: Install dependencies.
        run: flutter pub get

      - name: Run flutter test.
        id: test
        run: flutter test

      - name: Upload goldens if tests fail.
        uses: actions/upload-artifact@v3
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with:
          name: goldens
          path: test/failures/

  changelog-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository.
        uses: actions/checkout@v4

      - name: Read Changelog and validate.
        uses: mindsers/changelog-reader-action@v2.2.3
        with:
          validation_level: "error"

  build-android:
    name: "Build Android apk"
    runs-on: ubuntu-latest
    needs: [test, changelog-test]
    defaults:
      run:
        working-directory: example
    strategy:
      fail-fast: false
      matrix:
        sdk: ["3.16.9", ""]
    steps:
      - uses: actions/checkout@v4

      - name: Write Keystore from base64 encoded secret.
        id: write_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: "fdsm_keystore.jks"
          fileDir: "./example/android/app/keys"
          encodedString: ${{ secrets.KEYSTORE_64 }}

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.sdk }}
          cache: true
      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "gradle"
      - run: flutter pub get
      - name: Build appbundle.
        run: flutter build appbundle --no-pub
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}

      - name: Create Signing Report.
        run: ./gradlew signingReport
        working-directory: example/android

      - name: Upload appbundle as artifact.
        uses: actions/upload-artifact@v3
        if: ${{ matrix.sdk == '' }}
        with:
          name: app-release.aab
          path: example/build/app/outputs/bundle/release/
          retention-days: 5

  build-iOS:
    name: Build iOS package
    runs-on: macos-latest
    needs: [test, changelog-test]
    defaults:
      run:
        working-directory: example
    strategy:
      fail-fast: false
      matrix:
        sdk: ["3.16.9", ""]
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.sdk }}
          cache: true
      - run: flutter pub get
      - name: Build iOS package
        run: flutter build ios --simulator
      - name: Upload Runner.app as artifact
        if: ${{ matrix.sdk == '' }}
        uses: actions/upload-artifact@v4
        with:
          name: fdsm-example.app
          path: example/build/ios/iphonesimulator
          retention-days: 5
