# Runs flutter test and CHANGELOG.md validation on every PR to main.
# Failed goldens are uploaded and can be seen in the artifact summary of the job.

name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Ensure that new pushes/updates cancel running jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-15

    steps:

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4

      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.32.x
          cache: true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Install dependencies
        run: flutter pub get

      - name: Format check
        run: dart format --page-width 120 -o none --set-exit-if-changed .

      - name: Run Flutter test
        id: test
        run: flutter test

      - name: Upload goldens if tests fail.
        uses: actions/upload-artifact@v4
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with:
          name: goldens
          path: test/failures/
          retention-days: 3

      - name: Check publishable to pub.dev
        run: flutter pub publish --dry-run

  changelog-test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository.
        uses: actions/checkout@v5

      - name: Read Changelog and validate.
        uses: mindsers/changelog-reader-action@v2.2.3
        with:
          validation_level: "error"

  build-android:
    name: "Build Android aab"
    runs-on: ubuntu-latest
    needs: [ test, changelog-test ]
    defaults:
      run:
        working-directory: example
    strategy:
      fail-fast: false
      matrix:
        sdk: [ "3.27.0", "3.32.x" ]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ matrix.sdk }}
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build appbundle.
        run: flutter build appbundle --profile --no-pub

  build-iOS:
    name: Build iOS package
    runs-on: macos-15
    needs: [ test, changelog-test ]
    defaults:
      run:
        working-directory: example
    strategy:
      fail-fast: false
      matrix:
        sdk: [ "3.27.0", "3.32.x" ]
    steps:

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4

      - uses: actions/checkout@v5

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ matrix.sdk }}
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS package
        run: flutter build ios --no-codesign
